[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-cov = "*"
pytest-runner = "*"
moto = "*"
boto3 = "*"
pytest-django = "*"
factory-boy = "*"

[packages]
pandas = "*"
sklearn = "*"
tensorflow = "*"
dask = {extras = ["dataframe"], version = "*"}
s3fs = "*"
luigi = "*"
fastparquet = "*"
django = "*"
django-environ = "*"
djangorestframework = "*"
django-model-utils = "*"
argon2-cffi = "*"
django-allauth = "*"
django-crispy-forms = "*"
django-extensions = "*"
coreapi = "*"
django-debug-toolbar = "*"

[requires]
python_version = "3.7"
